

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// header
.header {
    
    display: flex;
    justify-content: space-between;
}

.logo {
    
    padding: 20px;
    vertical-align: center;
}

.logo-text {
    margin-top: auto;
    margin-bottom: auto;
}

.header-btn {
    padding: 20px;
    vertical-align: center;
}

// ここからmain
.main {
    
    display: flex;
    justify-content: space-between;
    margin: 80px 0px 0px 0px;


}

// main左


.left {

    padding: 20px 20px;

}

.entry-title {

    margin-left: 10px;
}

.entry {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;

}


.entry-cource {
    font-size: 17px;
    
}


#entry-boat {
        
    width: 20px;
}

.race {
    display: flex;
    justify-content: left;
    padding: 5px 10px;
    margin: 40px 0px 30px 0px;
    font-size: 15px;
}

span {

    font-size: 30px;
}


#race-name {
    width: 300px;
    font-size: 25px;

}

#race-round {
    width: 40px;
    font-size: 25px;


}

.forecast-pattern {
    font-size: 25px;
    line-height:4.0em;
    padding: 15px 15px 5px 15px;
    margin-top: 15px;
    margin-bottom: 12px;
    margin-left: 5px;
}




//　main右
.right {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 40px;

}

#comment {
    font-size: 25px;
    margin-top: 20px;

}

