// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {

    margin: 0;
    padding: 0;
}
// header
.header {
    
    display: flex;
    justify-content: space-between;
    
}

.logo {
    
    padding: 20px;
    vertical-align: center;
}

.logo-text {
    margin-top: auto;
    margin-bottom: auto;
}

.header-btn {
    padding: 20px;
    vertical-align: center;
}

// ここからmain
.main {
    
    display: flex;
    justify-content: space-between;
    margin: 80px 0px 0px 130px;


}
// main 左
.left {



}

.race {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    margin: 0px 0px 60px 40px;
    font-size: 15px;

}

span {

    font-size: 30px;
}

#race-name {
    width: 300px;

}

#race-round {
    width: 40px;

}

.pattern {
    


}
.pattern-item {


}
.pattern-item-head {
    font-size: 30px;
    margin: 20px 20px 25px 50px;
    span {
        padding: 10px 10px;
    }

}

.input-pattern {
    width: 20px;
    height: 20px;

}

.pattern-item-input {

    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.pattern-btn-group {

    margin: 0px 60px 0px 0px;


}

.rank {
    margin: 10px 10px 10px 50px;
    font-size: 20px;
}


.pattern-checkbox-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    margin: 12px 60px 10px 0px;

    li {
        margin: 0px 5px;
    }
}



// main 右
.right {

    
}
.entry-title {

    margin-left: 130px;
}

.entry {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 120px;

}

.entry-cource {
    font-size: 15px;
    margin-left: 10px;
    
}

#entry-boat {
        
    width: 18px;
    

}
.comment {

    padding-top:  37px;
    margin-left: 180px;
}

#forecastcomment {

    font-size: 20px;
}

.create-btn {

    font-size: 20px;
    margin-left: 250px;
    margin-top: 10px;
}

// my予想編集モード削除ボタン

.delete-btn {

    font-size: 20px;
    margin-left: 250px;
    margin-top: 10px;

}